@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* margin: 0px; */
    padding: 0px;
}

body {
    margin: 0px;
    background-color: #ebebeb;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

header {
    background-color: #eac926;
    padding: 20px;
}

#top-header{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#brand, #search-bar {
    width: 50%
}

#brand-logo {
    min-width: 130px;
    max-width: 200px;
    padding: 10px;
}

#search-bar {
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 120px;
    height: 35px;
    background-color: #ffffff;
    border: solid 1px #d6d6d6;
    border-radius: 4px;
    padding: 2px;
}

#search-bar input, #search-bar button{
    background-color: rgba(0,0,0,0);
    border: none;
}

#search-bar input{
    width: 90%;
    padding: 10px 5px;
}

#search-bar button{
    width: 30;
    padding: 5px 5px;
}

#slogan {
    display: block;
    margin: auto;
}

nav ul {
    padding: 0;
    display: none;
}
nav ul li {
    list-style-type: none;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
}

main {
    width: 90%;
    margin: auto;
    padding: 10px;
}

main section {
    margin: 10px 0;
}

main section .articles {
    display: flex;
    flex-wrap: wrap;
}

main section article {
    width: 250px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    border-radius: 4px;
    padding: 15px;
    margin: 10px;
}

article img {
    display: block;
    width: 150px;
    margin: auto;
}

footer {
    background-color: #ffffff;
    padding: 10px;
}

footer section article{
    text-align: center;
    margin: 20px;
    padding: 0 40px;
}

footer h3, footer p {
    margin: 0;
    color: #666;
}

footer i.icon {
    margin-bottom: 10px; 
    font-size: 2em;
    color: #1259c3;
}

#shipping-logo{
    display: block;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: #39b54a solid 1px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
}

.hamburger-bottom {
    text-align: center;
}

.hamburger-bottom .icon{
    font-size: 24px;
    padding: 10px;
    border-radius: 4px;
    color: #d6d6d6;
    background-color: #1259c3;
    border: solid 1px #1259c3;
}

.description {
    font-size: 16px;
    display: none;
}

.price {
    font-size: 18px;
}

.discount {
    font-size: 16px;
    color: #39b54a;
}

form {
    margin-top: 20px;
}

.form-control {
    text-align: center;
    margin-bottom: 10px;
}

.form-control input, .form-control select{
    display: block;
    width: 50%;
    padding: 5px;
    margin: auto;
}

.form-control .checkbox, .form-control .file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto
}

.form-control .checkbox label {
    display: inline-block;
    width: 80%;
}

.form-control .checkbox input[type='checkbox'] {
    display: inline;
}

.submit-control {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 20px auto;
}

.submit-control button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
}

.submit-control button[type='submit'] {
    background-color: #ffdc2a;
}

.submit-control button[type='submit']:hover {
    background-color: #eac926;
}

/* Tablet layout */
@media (min-width: 361px) {

    #top-header{
        justify-content: space-between;
    }

    #brand, #search-bar {
        width: 33%
    }

    #slogan {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }

    .hamburger-bottom {
        display: none;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .description {
        display: block;
    }
}

/* Desktop layout */
/* @media (min-width: 769px) {} */

/* 
Amarillo: #eac926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; 
*/
